INCLUDE options/options.makejail

ARG lxde_tag=%%TAG1%%
ARG lxde_ajspec=gh+AppJail-makejails/lxde

FROM --entrypoint "${lxde_ajspec}" lxde:${lxde_tag}

SYSRC dbus_enable=YES
SERVICE dbus start

STOP

STAGE custom:lxde_open

ENV DISPLAY=:0

USER lxde
RUN /usr/local/bin/ck-launch-session /usr/local/bin/dbus-launch startlxde
